body {
    font-family: "Gill Sans", sans-serif;
    font-style: bold;
    background-color: #9cc8ea;
    width: 100%;
    margin: auto;
}

h1 {
    color: #291fee;
    font-style: bold;
    text-align: center;
}

h5 {
    color: grey;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #e9d792;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(18, 164, 201, 0.1);
}

label {
    display: block;
    margin: 10px 0;
    color: #1ca2fc;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}